* {
    font-family: "Arial";
    /* font-size: 16px; */
    color: #000000; /* Your preferred text color */
    letter-spacing: 1px; /* Adjust as needed */
    text-shadow: 2px 2px 4px #000000; /* Add a subtle text shadow */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial";
    color: #ff6347; /* Your preferred heading color */
}

/* Set font sizes for different elements */
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color : #ff6347
} 
