@import url('https://fonts.cdnfonts.com/css/neuropol-2');

* {
    font-family: "Neuropol";
    /* font-size: 16px; */
    color: #00ff00; /* Your preferred text color */
    letter-spacing: 1px; /* Adjust as needed */
    text-shadow: 2px 2px 4px #000000; /* Add a subtle text shadow */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Neuropol";
    color: #ff6347; /* Your preferred heading color */
}

/* Set font sizes for different elements */
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color : #ff6347
} 
/* Example usage */


/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    font-family: 'Pacifico', cursive;
    color: #333;
}
svg text {
    font-family: 'Pacifico', cursive;
    color: #333;
}
input {
    font-family: 'Pacifico', cursive;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', cursive;
    color: #ff6347;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

a {
    color: #ff6347;
    text-decoration: none;
}

a:hover {
    color: #ff4500;
} */